---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ListOfProducts from '../components/ListOfProducts.astro';
---

<Layout title="Libros de programacion.">
	<main class="m-auto max-w-4xl text-center">
		<Title/>


		<ListOfProducts/>

	</main>
</Layout>
